.dili{
    width: 700px;
    height: 600px;
    background-color: rgb(73, 87, 179);
    margin:0 auto;
}

.classroom{
    width:550px;   
    height: 300px;
    border: 8px solid rgb(157, 207, 77);
    background-color: rgb(224, 193, 36);
   margin: 80px auto;
   padding: 20px;
}


#h1{
    text-align: center;
    background-color: rgb(157, 207, 77);
    color: aliceblue;
    width:  350px;
    height:  50px;
    margin: 15px auto;
}
.ota{
    width: 550px;
    height: 150px;
    background-color: aquamarine;
    padding: 25px;
    box-sizing: border-box;
}


.bola{
     width: 550px;
    height: 150px;
   margin: 10px auto;
    background-color: aquamarine; 
    padding: 25px;
    box-sizing: border-box;
}